.box {
    display: flex;
    
  }
  
.poster {
    width: 300px; 
    height: 550px; 
    margin: 10px; 
    margin:auto;
    margin-top: 5%;
   
  }

.centerbox {
    text-align: center;
}

.top {
    text-align: center;
    font-size: 40px;
    width: 900px;
    height: 100px;
    margin:auto;
    border: 5px solid #555;
}

.top p{
    position: relative;
    color: #191919;
    font-family:'Times New Roman', Times, serif;
    bottom: 10px;;
}

.poster img {
    border: 5px solid #383838;
    transition: width 1s, height 1s;
}

body {
    height: 100vh;
    background-image: radial-gradient(circle at top center, rgb(235, 235, 235) 0%, rgb(235, 235, 235) 10%,rgb(229, 229, 229) 10%, rgb(229, 229, 229) 19%,rgb(222, 222, 222) 19%, rgb(222, 222, 222) 22%,rgb(216, 216, 216) 22%, rgb(216, 216, 216) 24%,rgb(209, 209, 209) 24%, rgb(209, 209, 209) 63%,rgb(203, 203, 203) 63%, rgb(203, 203, 203) 75%,rgb(196, 196, 196) 75%, rgb(196, 196, 196) 100%);
  }

.logo{

    width: 100px;
    height: 100px;
    transition: width 1s, height 1s;
}

.logo:hover{
   
    width: 120px;
    height: 120px;

}

.poster img:hover{
    width: 320px; 
    height: 570px; 
}
