.box {
    display: flex;
    
  }
  
.poster {
    width: 300px; 
    height: 550px; 
    margin: 10px; 
    margin:auto;
    margin-top: 5%;
   
  }

.centerbox {
    text-align: center;
}

.top {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    width: 900px;
    height: 100px;
    margin:auto;
    border: 5px solid #555;
    transition: width 1s, height 1s, letter-spacing 1s;
}

.top:hover {
    text-align: center;
    letter-spacing: 15px;
    font-size: 40px;
    width: 905px;
    height: 105px;
    margin:auto;
    border: 5px solid #555;
}


.top p{
    position: relative;
    color: #191919;
    font-family:'Times New Roman', Times, serif;
    bottom: 10px;;
}

.poster img {
    border: 5px solid #383838;
    transition: width 1s, height 1s;
}

body {
    height: 100vh;
    background-image: radial-gradient(circle at top center, rgb(235, 235, 235) 0%, rgb(235, 235, 235) 10%,rgb(229, 229, 229) 10%, rgb(229, 229, 229) 19%,rgb(222, 222, 222) 19%, rgb(222, 222, 222) 22%,rgb(216, 216, 216) 22%, rgb(216, 216, 216) 24%,rgb(209, 209, 209) 24%, rgb(209, 209, 209) 63%,rgb(203, 203, 203) 63%, rgb(203, 203, 203) 75%,rgb(196, 196, 196) 75%, rgb(196, 196, 196) 100%);
  }

.logo{

    width: 90px;
    height: 90px;
    transition: width 1s, height 1s;
}

.logo:hover{
   
    width: 110px;
    height: 110px;

}

.poster img:hover{
    width: 320px; 
    height: 570px; 
}


.logo-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu-icon {
    cursor: pointer;
    font-size: 40px;
}

.menu-options {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #ffffffb3;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
}

.menu-options.active {
    display: block;
}

.menu-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.menu-option span {
    font-size: 16px;
    border: 1px solid #ffffffdd;
    padding: 10px;
    display: inline-block; 
    width: 80px; 
    text-align: center; 
}

a span {
    position: relative;
    background-color: #ccc;
    color: #191919;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

a:hover{
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}